 <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
      <!-- 任务名称, 这个一定不能重复, 否则无法被成功创建, 系统会告诉你已经有同名的任务了! -->
      <key>Label</key>
      <string>com.tuzkiss.squirrelSync</string>
      <key>ProgramArguments</key>
      <!-- 任务加载时就默认启动一次 -->
      <key>RunAtLoad</key>
      <true/>
      <array>
          <string>/Users/hanley/script/closeWiFi</string>
      </array>
      <!-- 任务执行间隔, 单位为 s, 如果计算机进入休眠, 在唤醒前有多个任务被执行, 则这些时间会合并成一个事件再执行 -->
      <!-- <key>StartInterval</key> -->
      <!-- <integer>60</integer> -->
  
      <!--
          日历的形式执行任务
          Minute <integer>    分钟
          Hour <integer>      小时
          Day <integer>       哪天
          Weekday <integer>   周几 (0 和 7 都表示周日)
          Month <integer>     几月
      -->
      <key>StartCalendarInterval</key>
      <dict>
          <key>Minute</key>
          <integer>00</integer>
          <key>Hour</key>
          <integer>23</integer>
      </dict>
      <key>KeepAlive</key>
      <false/>
      <!-- 输出日志路径 -->
      <key>StandardOutPath</key>
      <string>/Users/hanley/.cache/log/closeWiFi.log</string>
      <!-- 异常日志路径 -->
      <key>StandardErrorPath</key>
      <string>/Users/hanley/.cache/log/closeWiFi-err.err</string>
  </dict>
  </plist>
